.section-title {
  &.style-two{
    .sub-title {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      color: #47b16a !important;
      position: relative;
      padding-right: 10px;
      display: inline-block;
      margin-bottom: 10px;
      &::before,
      &::after {
          position: absolute;
          content: "";
          top: 50%;
          transform: translateY(-50%);
      }
      &::before {
        left: 100%;
        width: 30px;
        height: 2px;
        background-color: #0044eb;
      }
      &::after {
        left: calc(100% + 30px); ;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0044eb;
      }
    }
    .title {
      font-size: 60px;
      line-height: 68px;
      letter-spacing: -1.48px;
      @media (max-width: 1199.98px) {
        font-size: 42px;
        line-height: 52px;
      }
      @media (max-width: 991.98px) {
          font-size: 36px;
          line-height: 50px;
      }
    }
  }
  .sub-title {
    font-size: 24px;
    line-height: 26px;
    color: #47b16a !important;
    display: inline-block;
    margin-bottom: 4px;
    
  }
  .title {
    font-size: 44px;
    line-height: 48.4px;
    @media (max-width: 1199.98px) {
      font-size: 36px;
      line-height: 40px;
    }
    @media (max-width: 991.98px) {
        font-size: 36px;
        line-height: 50px;
    }
  }
}
