/*=============================
	06. Upcoming-Section CSS start
===============================*/
.upcoming-section {
  .sub-title{
    @media (max-width: 575.98px) {
      font-size: 12px;
    }
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-roboto);
    color: var(--primary);
    @media (max-width: 575.98px) {
      font-size: 0.9rem;
    }
  }
  .value-card {
    transition: var(--transition);
    height: 118.45px;
    div {
      color: var(--primary);
      img {
        max-width: 50px;
      }
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
}
